<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>UChat</title>
</head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-3">
            <a href="/" class="navbar-brand">UChat</a>
        </nav>
        <div class="container">
            <form action="/" method="POST">
                <div class="form-group">
                    <label>HOME PAGE</label>
                </div>
            </form>
            <form action="/new" method="POST">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">New Post</button>
                </div>
            </form>
            <ul class="list-group">
                <% message_list.forEach(function (value, key) { %>
                    <li class="list-group-item"><%= value %></li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>